@model WebApplication1.Model.Vare

<h4>Populære varer:</h4>
    
        <a href="@Url.Action("Detaljer", "Salg", new { VareId = @Model.VareId })"><img alt="@Model.Navn" src="~/content/Images/@Model.VareArtUrl" /></a>
 


    




       